
<!doctype html>





  








<html>
<head>
<title>VTool</title>





  








<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
<link rel="icon" href="../favicon.ico" type="image/x-icon">

<script>

var global_page_context_path = "/vtool";

var gainUtilConfig = {
	context : '/vtool'
}
</script>

<!-- Bootstrap Core CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet">

<link href="../css/layout/goldenlayout-base.css" rel="stylesheet" type="text/css">
<link href="../css/layout/goldenlayout-light-theme.css" rel="stylesheet" type="text/css">


<link href="../css/editor/codemirror.css" rel="stylesheet" type="text/css">
<link href="../css/editor/show-hint.css" rel="stylesheet" type="text/css">
<link href="../css/editor/theme/eclipse.css" rel="stylesheet" type="text/css">


<link href="../css/jquery-ui.min.css" rel="stylesheet">
<link href="../css/pub.ep.css" rel="stylesheet">
<link href="../css/pub.all.min.css" rel="stylesheet">
<link href="../css/jquery.toast.min.css" rel="stylesheet">
<link href="../css/pub.logviewer.css?v=8471.0" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- Custom CSS -->
<link href="../css/datepicker/datepicker.css" rel="stylesheet">

<link href="../css/vt-mgmt.min.css?v=8471.0" rel="stylesheet">

<script src="../js/jquery-1.11.0.js"></script>
<script src="../js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="../js/jquery.form.min.js"></script>
<script src="../js/jquery.serializeJSON.js"></script>
<script src="../js/plugins/hangul/hangul.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="../js/plugins/filesaver/FileSaver.min.js"></script>
<script src="../js/gain.web.js"></script>

<!-- sql editor -->
<script src="../js/plugins/codeeditor/codemirror.js"></script>
<script src="../js/plugins/codeeditor/show-hint.js"></script>
<script src="../js/plugins/codeeditor/search/search.js"></script>
<script src="../js/plugins/codeeditor/search/searchcursor.js"></script>
<script src="../js/plugins/codeeditor/matchbrackets.js"></script>
<script src="../js/plugins/codeeditor/closebrackets.js"></script>

<script src="../js/pub.ep.js"></script>
<script src="../js/pub.ep.ui.js"></script>
<script src="../js/pub.tab.js"></script>
<script src="../js/pub.context.js"></script>
<script src="../js/pub.logviewer.js?v=8471.0"></script>
<script src="../js/plugins/toast/jquery.toast.min.js"></script>

<script src="../js/vue.min.js"></script>
<script src="../js/vue.vartool.js"></script>

<script>
PubEP.init({
	loadingImg : '../imgs/pub-loading.gif'
	,loadingBgColor:'#ffffff'
})
</script>


</head>

<body class="vt-setting">
	<div id="wrapper" class="height100">
		<!-- Navigation -->
		<nav class="manager-top-wrap navbar-inverse navbar-fixed-top" role="navigation">
			









<!-- Brand and toggle get grouped for better mobile display -->
		
        <div id="logo" class="navbar-header col-xs-12 col-sm-2">
            <a id="logo-title" href="./">매니저</a>
            
            <div class="pull-right">
				<a href="#" class="show-sidebar"> <i class="fa fa-bars"></i></a>
			</div>
        </div>
        <!-- Top Menu Items -->
        <div id="top-panel" class="col-xs-12 col-sm-10">
			<div class="pull-right">
		        <ul class="nav navbar-right top-nav">
		            <li class="dropdown">
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		                	manager <b class="caret"></b>
		                </a>
		                <ul class="top-setting-menu dropdown-menu">
		                	













	
		<li>
			<a href="/vsql/user/" target="">사용자</a>
		</li>       
	
		<li>
			<a href="/vsql/manager/" target="">매니저</a>
		</li>       
	
	<li class="divider"></li>

		                    <li>
		                        <a href="/vsql/user/preferences"><i class="fa fa-fw fa-user"></i> 환경설정</a>
		                    </li>
		                    <li class="divider"></li>
		                    <li>
		                        <a href="/vsql/logout"><i class="fa fa-fw fa-power-off"></i> 로그아웃</a>
		                    </li>
		                </ul>
		            </li>
		        </ul>
			</div>
        </div>
		</nav>
		<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
		<div id="main-wrap" class="container-fluid height100">
			<div class="row height100">
				<div id="sidebar-left" class="col-xs-2 col-sm-2">
					









<ul class="nav left-menu">
    <li class="">
        <a href="./"><i class="fa fa-fw fa-user"></i>사용자 관리</a>
    </li>
    
    <li class="dropdown">
		<a href="#" data-toggle="collapse" data-target="#dbgroup-sub-menu">
			<i class="fa fa-object-group"></i>
			<span class="hidden-xs">DB 그룹관리</span>
			<i class="fa fa-fw fa-caret-down"></i>
		</a>
		<ul id="dbgroup-sub-menu" class="nav sub-menu collapse ">
			<li>
                <a href="./dbGroupMgmt">DB 그룹관리</a>
            </li>
            <li>
				<a href="./dbGroupUserMgmt">DB 그룹 & 사용자관리</a>
			</li>
		</ul>
	</li>
	
    <li class="">
        <a href="./qnaMgmt"><i class="fa fa-eye"></i>Q&A 관리</a>
    </li>
    <li class=" active">
        <a href="./glossaryMgmt"><i class="fa fa-th-list"></i>용어집</a>
    </li>
    <li class="">
        <a href="./dbCompareMgmt"><i class="fa fa-exchange"></i>DB 비교</a>
    </li>
    
    <li class="dropdown">
		<a href="#" data-toggle="collapse" data-target="#log-sub-menu">
			<i class="fa fa-bar-chart-o"></i>
			<span class="hidden-xs">로그</span>
			<i class="fa fa-fw fa-caret-down"></i>
		</a>
		<ul id="log-sub-menu" class="nav sub-menu collapse ">
			<li>
               <a href="./sqlLogStat">SQL 통계</a>
            </li>
            <li>
               <a href="./sqlLogHistory">SQL 로그</a>
            </li>
		</ul>
	</li>
</ul>
				</div>

				<!--Start Content-->
				<div id="main-content" class="height100 col-xs-12 col-sm-10">
					









<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">용어집</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row display-off" id="epViewArea">
	<div class="col-lg-7">
		<div class="panel panel-default">
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<div class="dataTables_filter">
							<label style="float:left; margin-right: 5px;"><select v-model="list_count" @change="search()" class="form-control input-sm"><option
									value="10">10</option>
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option></select>
							</label>
							<div class="input-group floatright">
								<input type="text" v-model="searchVal" class="form-control" @keyup.enter="search()" autofocus="autofocus" placeholder="Search...">
								<span class="input-group-btn">
									<button class="btn btn-default" @click="search()" type="button">
										<span class="glyphicon glyphicon-search"></span>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<div id="dataTables-example_wrapper"
						class="dataTables_wrapper form-inline" role="grid">
						<table
							class="table table-striped table-bordered table-hover dataTable no-footer"
							id="dataTables-example" style="table-layout:fixed;">
							<colgroup>
								<col style="width:100px;">
								<col style="width:100px;">
								<col style="width:80px;">
								<col style="width:*;">
								<col style="width:140px;">
							</colgroup>
							<thead>
								<tr role="row">
									<th class="text-center">용어</th>
									<th class="text-center">영문명</th>
									<th class="text-center">약어명</th>
									<th class="text-center">설명</th>
									<th class="text-center">등록일</th>
								</tr>
							</thead>
							<tbody class="dataTableContent">
								<tr v-for="(item,index) in gridData" @click="itemView(item)" class="gradeA cursor-pointer" :class="(index%2==0?'add':'even')">
									<td :title="item.word"><div class="text-ellipsis">{{item.word}}</div></td>
									<td :title="item.wordEn"><div class="text-ellipsis">{{item.wordEn}}</div></td>
									<td :title="item.wordAbbr"><div class="text-ellipsis">{{item.wordAbbr}}</div></td>
									<td :title="item.wordDesc"><div class="text-ellipsis">{{item.wordDesc}}</div></td>
									<td>{{item.regDt}}</td>
								</tr>
								<tr v-if="gridData.length === 0">
									<td colspan="5"><div class="text-center">데이타가 없습니다.</div></td>
								</tr>
							</tbody>
						</table>

						<page-navigation :page-info="pageInfo" callback="search"></page-navigation>
					</div>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
	</div>
	<!-- /.col-lg-4 -->
	<div class="col-lg-5">
		<div class="panel panel-default" >
			<div class="panel-heading">용어집<span id="selectItemInfo" style="margin:left:10px;font-weight:bold;"></span></div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<input type="hidden" v-model="detailItem.wordIdx">
				<form id="addForm" name="addForm" class="form-horizontal" >
					<div class="form-group">
						<div class="col-sm-12">
							<div class="pull-right">
								<button type="button" class="btn btn-default" @click="fieldClear()">추가</button>
								<button type="button" class="btn btn-default" @click="saveInfo()">저장</button>
								<button type="button" class="btn btn-danger" :class="(isViewMode?'':'hide')"  @click="deleteInfo()">삭제</button>
							</div>
						</div>
					</div>
					<div id="warningMsgDiv"></div>
					<div class="form-group">
						<label class="col-sm-4 control-label">용어</label>
						<div class="col-sm-8">
							<input class="form-control text required" v-model="detailItem.word">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">영문명</label>
						<div class="col-sm-8">
							<input class="form-control text required" v-model="detailItem.wordEn">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">약어명</label>
						<div class="col-sm-8">
							<input class="form-control text required" v-model="detailItem.wordAbbr">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">데이터 타입</label>
						<div class="col-sm-8">
							<select	v-model="detailItem.wordType" class="form-control text required">
								<option v-for="(item,index) in wordTypeArr" :value="item.type">{{item.name}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">길이</label>
						<div class="col-sm-8">
							<input class="form-control text required" v-model="detailItem.wordLength">
							<div>char,string -> 정수값 , number, float -> (0,1)</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">설명</label>
						<div class="col-sm-8">
							<textarea class="form-control text" rows="3" v-model="detailItem.wordDesc" style="width:100%;"></textarea>
						</div>
					</div>
				</form>
			</div>
			<!-- /.panel-body -->
		</div>
	</div>
</div>
<!-- /.row -->

<script>
(function() {
VartoolAPP.vueServiceBean( {
	el: '#epViewArea'
	,data: {
		list_count :10
		,searchVal : ''
		,pageInfo : {}
		,gridData :  []
		,detailItem :{}
		,isViewMode : false
		,wordTypeArr : VARSQLCont.allDataType()
	}
	,methods:{
		init :function (){
			this.fieldClear();
		}
		// 추가.
		,fieldClear : function (){
			this.isViewMode = false;
			this.detailItem = {
				wordIdx:''
				, word :''
				, wordEn :''
				, wordAbbr :''
				, wordDesc : ''
				, wordType : 'string'
				, wordLength : 0
			};
		}
		// 상세
		,itemView : function (item){
			this.isViewMode = true;
			this.detailItem = {
				wordIdx : item.wordIdx
				, word : item.word
				, wordEn : item.wordEn
				, wordAbbr :item.wordAbbr
				, wordDesc : item.wordDesc
				, wordType : item.wordType
				, wordLength : item.wordLength
			};
		}
		// 검색
		,search : function(no){
			var _self = this;

			var param = {
				pageNo: (no?no:1)
				,countPerPage : _self.list_count
				,'searchVal':_self.searchVal
			};

			this.$ajax({
				url : {type:VARSQL.uri.manager, url:'/glossary/list'}
				,data : param
				,success: function(resData) {
					_self.gridData = resData.items || [];
					_self.pageInfo = resData.page;
				}
			})
		}
		// 저장
		,saveInfo : function (){
			var _self = this;

			var param = this.detailItem;

			_self.$ajax({
				url : {type:VARSQL.uri.manager, url:'/glossary/save'}
				,data : param
				,success: function(resData) {
					if(!VARSQL.req.validationCheck(resData)){
						return ; 
					}else{
						if(resData.resultCode != 200){
							alert(resData.message);
							return ;
						}
					}

					_self.fieldClear();
					_self.search();
				}
			})
		}
		// 삭제.
		,deleteInfo : function(){
			var _self = this;

			if(!confirm('['+_self.detailItem.word +'] 삭제하시겠습니까?')){
				return ;
			}

			var param = {
				wordIdx : _self.detailItem.wordIdx
			};

			this.$ajax({
				data:param
				,url : {type:VARSQL.uri.manager, url:'/glossary/delete'}
				,success:function (response){
					_self.fieldClear();
					_self.search();
				}
			});
		}
	}
});

}());
</script>


				</div>
				<!--End Content-->
			</div>
		</div>
	</div>
</body>
</html>