@charset "UTF-8";
/* 
 vt-tool: 0.0.1 
*/
html, body {
  height: 100%;
  width: 100%;
  font-size: 14px;
}

input, textarea, select {
  border: 1px solid #bcbcbd;
  border-radius: 2px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: #ffffff;
  color: #000000;
}

select {
  padding: 2px 2px;
}

button {
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  display: inline-block;
  padding: 2px 5px;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  line-height: 18px;
}

button:hover, button:focus, button:active {
  background: rgba(85, 241, 241, 0.295);
  color: #5970f5;
  border: 1px solid #bcbcbd;
}

button.disabled, button[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

button.btn-sm {
  padding: 0px 5px;
}

button.btn-md {
  padding: 4px 10px;
}

button.btn-lg {
  padding: 8px 15px;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.wh100 {
  height: 100%;
  width: 100%;
}

.ta-l {
  text-align: left;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.text-ellipsis {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: calc(100% - 20px);
  overflow: hidden;
}

.text-ellipsis.ellipsis5 {
  max-width: calc(100% - 5px);
}

.text-ellipsis.ellipsis10 {
  max-width: calc(100% - 10px);
}

.error {
  color: #ff3400;
}

.centerLoading {
  background-color: #ffffff;
  opacity: 0.3;
  z-index: 100;
}

.vue-display-off {
  display: none;
}

.dis-hidden {
  display: none;
}

.dis-block {
  display: block;
}

.margin0 {
  margin: 0px;
}

.padding0 {
  padding: 0px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* 게시판 style */
.title {
  padding: 10px 20px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
}

.title > h3 {
  padding-top: 0px;
  margin-top: 0px;
}

.content {
  padding: 15px;
  margin: 10px 0px;
}

.comment-label {
  font-size: 16px;
}

.comment-content {
  padding: 5px;
}

.re-comment-btn {
  margin-top: 10px;
}

.re-comment-item {
  margin-top: 0px;
  padding: 0px 10px;
  border-bottom: 1px dotted #ddd;
}

.re-comment-meta-info {
  margin: 5px 0px;
}

.re-comment-meta-info:after {
  clear: both;
  content: "";
  display: block;
}

.re-comment-modify {
  margin-bottom: 5px;
}

.re-comment-content {
  padding-bottom: 5px;
}

.file-add-btn-area {
  text-align: center;
}

.file-add-btn-area .file-add-btn {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0px 5px;
}

.file-upload-area {
  clear: both;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  max-height: 130px;
  overflow: auto;
}

.file-upload-area:empty {
  display: none;
}

.file-upload-area .file-upload-preview {
  position: relative;
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #d5d5d8;
  padding: 5px;
}

.file-upload-area .file-upload-preview .file-upload-preview-msg {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 25px;
  top: calc(50% - 25px);
}

.file-upload-area .file-upload-list {
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #d5d5d8;
  height: 100px;
  padding: 5px;
}

.file-upload-area .file-upload-list .file-upload-list-item {
  padding-bottom: 3px;
}

.file-upload-area .file-row {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 4px;
  height: 22px;
  padding: 0px;
  margin: 0px;
}

.file-upload-area .file-row:after {
  display: table;
  content: '';
  clear: both;
}

.file-upload-area .file-row > li {
  float: left;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.file-upload-area .file-row .file-progress > .error-view-area {
  display: none;
}

.file-upload-area .file-row.dz-error .file-progress > .error-view-area {
  display: block;
  padding-top: 3px;
}

.file-upload-area .file-row.dz-error .file-progress > .progress {
  display: none;
}

.file-upload-area .file-row .file-download {
  display: none;
}

.file-upload-area .file-row.dz-complete .file-progress {
  visibility: hidden;
}

.file-upload-area .file-row.dz-complete .file-download {
  display: inline;
}

.file-upload-area .file-row .file-action-btn {
  width: 90px;
}

.file-upload-area .file-row .file-info {
  width: 230px;
}

.file-upload-area .file-row .file-info .file-name {
  width: calc(230px - 80px);
}

.file-upload-area .file-row .file-info .file-size {
  width: 80px;
}

.file-upload-area .file-row .file-progress {
  width: calc(100% - 320px);
}

.file-upload-area .file-row .btn {
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  color: #000;
  border: 1px solid #dedede;
  background-color: #fff;
  display: inline-block;
  padding: 2px 5px;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  line-height: 18px;
}

.file-upload-area .progress {
  margin-bottom: 10px;
}

.file-upload-area .file-row.dz-success .start, .file-upload-area .file-row.dz-success .cancel {
  display: none;
}

.file-list-area {
  border: 1px solid #d5d5d8;
  padding: 5px;
}

.file-list-area .file-list {
  display: block;
  padding: 0px;
  margin: 0px;
  max-height: 100px;
  overflow: auto;
  margin-top: 5px;
}

.file-list-area .file-list .file-list-item {
  list-style: none;
  border-bottom: 1px solid #d5d5d8;
  padding: 0px 5px;
  margin-top: 5px;
}

.file-list-area .file-list .file-list-item a {
  color: #000000;
}

.file-list-area .file-list .file-list-item a .fa {
  margin-right: 5px;
}

[pub-theme="dark"] input, [pub-theme="dark"] textarea, [pub-theme="dark"] select {
  border: 1px solid #5f5f68;
  background: #262729;
  color: #c5c3c3;
}

[pub-theme="dark"] button:hover, [pub-theme="dark"] button:focus, [pub-theme="dark"] button:active {
  background: #214163;
  color: #5970f5;
  border: 1px solid #5f5f68;
}

[pub-theme="dark"] .centerLoading {
  background-color: #262729;
}

[pub-theme="dark"] .vartool-main {
  background: #262729;
  font-size: 12px;
  color: #c5c3c3;
}

[pub-theme="dark"] .vartool-main .lm_content {
  padding: 1px;
  border: 1px solid #5f5f68;
  background: #262729;
}

[pub-theme="dark"] .vartool-main .lm_goldenlayout {
  background: #262729;
}

[pub-theme="dark"] .vartool-main .vartool-menu-wrapper {
  border-bottom: 1px solid #5f5f68;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#191818), to(#4a4949));
  background-image: linear-gradient(#191818, #4a4949);
  -webkit-filter: progid:dximagetransform.microsoft.gradient(startColorstr='$firstColor', endColorstr='$lastColor', GradientType=0);
          filter: progid:dximagetransform.microsoft.gradient(startColorstr='$firstColor', endColorstr='$lastColor', GradientType=0);
}

[pub-theme="dark"] .vartool-main .vartool-menu-wrapper .navbar {
  border: 0px solid #5f5f68;
}

[pub-theme="dark"] .vartool-main .vartool-menu-wrapper .navbar-brand {
  color: #c5c3c3;
}

[pub-theme="dark"] .vartool-main .vartool-menu-wrapper .navbar-brand:hover, [pub-theme="dark"] .vartool-main .vartool-menu-wrapper .navbar-brand:focus {
  color: #5970f5;
  background-color: #9b9b9b;
}

[pub-theme="dark"] .vartool-main .vartool-menu-wrapper .navbar-right > li {
  float: left;
}

[pub-theme="dark"] .vartool-main .vartool-menu-wrapper .navbar-right > li > a {
  color: #c5c3c3;
}

[pub-theme="dark"] .vartool-main .vartool-menu-wrapper .navbar-right > li > a:hover, [pub-theme="dark"] .vartool-main .vartool-menu-wrapper .navbar-right > li > a:focus {
  color: #5970f5;
  background-color: #9b9b9b;
}

[pub-theme="dark"] .vartool-main a:hover, [pub-theme="dark"] .vartool-main a:focus {
  background-color: #9b9b9b !important;
  border-color: #a4e3cf !important;
  color: #ffffff !important;
}

[pub-theme="dark"] .vartool-main .header-layout-info {
  background: #262729;
  border: 1px solid #6d6d75;
}

[pub-theme="dark"] .vartool-main .header-layout-info.header-menu a {
  color: #c5c3c3;
}

[pub-theme="dark"] .vartool-main .header-layout-info thead {
  border-bottom: 1px solid #6d6d75;
}

[pub-theme="dark"] .vartool-main .header-layout-info > tbody tr {
  color: #c5c3c3;
}

[pub-theme="dark"] .vartool-main .header-layout-info > tbody tr:hover {
  color: #ffffff;
  background-color: #9b9b9b;
}

[pub-theme="dark"] .navbar-right .open > a {
  background-color: #9b9b9b;
}

[pub-theme="dark"] .dropdown-menu {
  background-color: #262729;
  border: 1px solid #6d6d75;
}

[pub-theme="dark"] .dropdown-menu > li > a {
  color: #c5c3c3;
}

[pub-theme="dark"] .dropdown-menu > li > a:hover {
  color: #5970f5;
}

[pub-theme="dark"] .lm_goldenlayout {
  background: #262729;
}

[pub-theme="dark"] .lm_content {
  background: #262729;
}

[pub-theme="dark"] .lm_maximised .lm_header {
  background: #262729;
}

[pub-theme="dark"] .lm_header .lm_tab {
  background: #000000;
}

[pub-theme="dark"] .lm_header .lm_tab:hover {
  background: #000000;
}

[pub-theme="dark"] .lm_tab:hover, [pub-theme="dark"] .lm_tab.lm_active {
  color: #969494;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#191818), to(#4a4949));
  background-image: linear-gradient(#191818, #4a4949);
  -webkit-filter: progid:dximagetransform.microsoft.gradient(startColorstr='$firstColor', endColorstr='$lastColor', GradientType=0);
          filter: progid:dximagetransform.microsoft.gradient(startColorstr='$firstColor', endColorstr='$lastColor', GradientType=0);
}

[pub-theme="dark"] .lm_header .lm_tabdropdown_list {
  border-bottom: 1px solid #6d6d75;
}

[pub-theme="dark"] .lm_header .lm_controls .lm_tabdropdown:before {
  color: #969494;
}

[pub-theme="dark"] .lm_header .lm_tab .lm_close_tab:hover {
  color: #969494;
}

[pub-theme="dark"] .lm_header .lm_controls > li:hover {
  color: #969494;
}

[pub-theme="dark"] .pub-context-menu a {
  color: #c5c3c3;
}
